<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bdeAPI" class="fr.cyu.depinfo.agp.tahiti.persistence.bde.BDeAPI">
        <property name="luceneFacade" ref="luceneFacade" />
        <property name="queryBuilder" ref="queryBuilder" />
    </bean>

    <bean id="luceneFacade" class="fr.cyu.depinfo.agp.tahiti.persistence.bde.lucene.LuceneFacade">
        <property name="indexHandler" ref="luceneIndex" />
        <property name="searchHandler" ref="luceneSearch" />
    </bean>

    <bean id="luceneIndex" class="fr.cyu.depinfo.agp.tahiti.persistence.bde.lucene.IndexHandler">
    </bean>

    <bean id="luceneSearch" class="fr.cyu.depinfo.agp.tahiti.persistence.bde.lucene.SearchHandler">
    </bean>

    <bean id="queryBuilder" class="fr.cyu.depinfo.agp.tahiti.persistence.bde.QueryBuilder">
    </bean>

</beans>